<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../includes/head') %>
  </head>
  <body>
    <%- include('../includes/header') %>

    <div class="container" style="margin-top: 80px !important">
      <div class="row justify-content-md-center mb-5">
        <div class="col-md-12 mt-5">
          <h2 class="text-center title">
            CRUD Piloto
            <hr />
          </h2>
        </div>
      </div>
      <div class="row justify-content-md-center mb-5">
        <div class="col-md-4 mb-5">
          <h3 class="text-center">
            Registrar Piloto
            <hr />
          </h3>
          <form action="/pilotos" method="POST">
            <div class="mb-3">
              <label for="nombre_piloto" class="form-label"> Piloto </label>
              <input type="text" name="nombre_piloto" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="apellido_piloto" class="form-label"> Apellido </label>
              <input type="text" name="apellido_piloto" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="licencia_piloto" class="form-label"> Licencia </label>
              <input type="text" name="licencia_piloto" class="form-control" />
            </div>

            <div class="d-grid gap-2 col-12 mx-auto mt-4 mb-4">
              <button class="btn btn-primary" type="submit">
                Registrar Piloto
              </button>
            </div>
          </form>
        </div>

        <div class="col-md-8 py-3 custom_table">
          <h3 class="text-center">
            Lista de Pilotos
            <hr />
          </h3>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Licencia</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% let contador = 1; %>
                <!---->
                <% pilotos.forEach(function(piloto) { %>
                <tr>
                  <th scope="row"><%= contador %></th>
                  <td><%= piloto.nombre_piloto %></td>
                  <td><%= piloto.apellido_piloto %></td>
                  <td><%= piloto.licencia_piloto %></td>
                  <td>
                    <span style="display: flex; justify-content: space-between">
                      <!-- Corregir el uso de la variable en la URL del enlace -->
                      <a
                        class="btn btn-info info_especial"
                        href="/detalles/<%= piloto.PilotoID %>"
                        title="Ver Detalles del Piloto">
                        <i class="bi bi-person-bounding-box"></i>
                      </a>
                      <a
                        class="btn btn-success success_especial"
                        title="Editar datos del Piloto"
                        href="/formulario-actualizar-piloto/<%= piloto.PilotoID %>">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                      <form
                        action="/borrar-piloto/<%= piloto.PilotoID %>"
                        method="POST">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="btn btn-danger">
                          <i class="bi bi-trash"></i>
                          Eliminar
                        </button>
                      </form>
                    </span>
                  </td>
                </tr>
                <% contador++; %>
                <!---->
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%- include('../includes/scripts') %>
  </body>
</html>
